img {
    background-color: black;
    border-radius: 5px;
}

#cidade-erro {
    gap: 10px;
    font-weight: bold;
    color: rgb(119, 13, 13);
}

.card{
    margin: 70px auto;
    max-width: 400px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(156, 196, 196);
    color: black;
    border-radius: 5px;
}